@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="~/css/reg.css.css">


    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <title>Responsive Regisration Form </title>
</head>
<body>
    <div class="container">
        <header>Registration</header>

        <form method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Interior designer Register form</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>First Name</label>
                            <input type="text" name="designer_first_name" placeholder="First name" required>
                        </div>

                        <div class="input-field">
                            <label>Last name</label>
                            <input type="text" name="designer_last_name" placeholder="last name" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="designer_email" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Contact</label>
                            <input type="text" name="designer_contact" placeholder="Enter your Contact" required>
                        </div>
                        <div class="input-field">
                            <label>Password</label>
                            <input type="password" name="designer_password" placeholder="Enter your password" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                   

                    <div class="fields">
                        <div class="input-field">
                            <label>Adress</label>
                            <input type="text" name="desinger_adress" placeholder="Enter your adresss" required>
                        </div>

                        <div class="input-field">
                            <label>Experience</label>
                            <input type="text" name="designer_experience" placeholder="Enter your experience" required>
                        </div>

                        <div class="input-field">
                            <label>Specialization</label>
                            <input type="text" name="designer_specialization" placeholder="Enter your specialization" required>
                        </div>

                        <div class="input-field">
                            <label>portfolio</label>
                            <input type="text" name="designer_portfolio" placeholder="Enter your portfolio" required>
                        </div>

                        <div class="input-field">
                            <label>Image</label>
                            <input type="file" name="designer_image" required>
                        </div>
                    </div>

                    <button type="submit" class="nextBtn">
                        <span  class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>

           
        </form>
    </div>


</body>
</html>
