@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>AddBlog</h1>
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Add Blog</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Blog Article Name</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Blog Article Name" name="blog_article_name" class="form-control" id="inputEmail3">
                                </div>
                            </div><div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Blog Article Discription</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Blog Article Discription" name="blog_article_discription" class="form-control" id="inputEmail3">
                                </div>
                            </div><div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Blog Article Image</label>
                                <div class="col-sm-9">
                                    <input type="file" placeholder="Blog Image" name="blog_article_image" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="card-footer center">
                                <input type="submit" value="Add Blog" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
